* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.contenedor {
  width: 90%;
  margin: 2em auto;
  border-radius: 1em;
  border: 5px solid lightgrey;
  padding: 1em;
  padding: 1em;
}

.item {
  border-radius: 1em;
  border: 5px solid #282828;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img {
  width: 40%;
  height: 10em;
  display: block;
  background: lightblue;
  margin: 1em auto;
}

.con-fit {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.con-cover {
  height: 20em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}