* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 400vh;
}

.etiqueta {
  width: 5em;
  height: 5em;
  background-color: red;
  position: fixed;
  top: calc( 50% - 2.5em );
  left: calc( 50% - 2.5em );
  -webkit-animation: desplazar 1s ease both;
          animation: desplazar 1s ease both;
  animation-timeline: nombre-scroll;
}

@-webkit-keyframes desplazar {
  from {
    background: lime;
  }
  to {
    background: black;
  }
}

@keyframes desplazar {
  from {
    background: lime;
  }
  to {
    background: black;
  }
}
@scroll-timeline nombre-scroll {
  source: auto;
  orientation: vertical;
  scroll-offsets: 0%, 10vh;
}