*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
// Estilos para los elementos (no es esencial)

body{
    font-family:  Helvetica, Arial, sans-serif;

}


.p{
    width:80%;
    margin: 2em auto;
    initial-letter: 10;
    -webkit-initial-letter: 10;

}