* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.contenedor {
  width: 90%;
  margin: 2em auto;
  border-radius: 1em;
  border: 5px solid lightgrey;
  padding: 1em;
  padding: 1em;
}

.item {
  border-radius: 1em;
  border: 5px solid #282828;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor {
  width: 80%;
  min-height: 50vh;
  margin: 2em auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1em 1fr 1em 1fr 1em 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 1em 1fr 1em 1fr 1em 1fr 1em 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
}

.contenedor > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.contenedor > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.contenedor > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.contenedor > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.contenedor > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.contenedor > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.contenedor > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.contenedor > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.contenedor > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.contenedor > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.contenedor > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.contenedor > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.contenedor > *:nth-child(13) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.contenedor > *:nth-child(14) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.contenedor > *:nth-child(15) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.contenedor > *:nth-child(16) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.contenedor > *:nth-child(17) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.contenedor > *:nth-child(18) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.contenedor > *:nth-child(19) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

.contenedor > *:nth-child(20) {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
}