* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedor {
  width: 90%;
  margin: 2em auto;
  border-radius: 1em;
  border: 5px solid lightgrey;
  padding: 1em;
  padding: 1em;
}

.item {
  border-radius: 1em;
  border: 5px solid #282828;
  padding: 1em;
}

.contenedor {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1em 1fr 1em 1fr 1em 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}