@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* A la etiqueta contenedora le ponemos:
       · El eje
       · Si es con la dirección del ratón o por proximidad
   */
html {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

/* .contenedora{
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    height: 100vh;
} */
.item {
  width: 100%;
  min-height: 100vh;
  background-color: lightblue;
  scroll-snap-align: start;
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3em;
}