* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.etiqueta {
  width: 10em;
  min-height: 5em;
  background-color: red;
  margin: 10em auto;
}

@media (prefers-color-scheme: dark) {
  .etiqueta {
    background: green;
  }
}