* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.contenedor {
  width: 90%;
  margin: 2em auto;
  border-radius: 1em;
  border: 5px solid lightgrey;
  padding: 1em;
  padding: 1em;
}

.item, .subitem {
  border-radius: 1em;
  border: 5px solid #282828;
  padding: 1em;
}

.fisico {
  width: 80%;
  height: 10em;
  background: lightblue;
  margin: 2em auto;
  border-top: 1em solid black;
  border-bottom: 1em solid black;
  border-left: 1em solid blue;
  border-right: 1em solid blue;
}

.logico {
  inline-size: 80%;
  block-size: 10em;
  background: red;
  border-block: 1em solid black;
  border-inline: 1em solid blue;
  margin-block: 2em;
  margin-inline: auto;
}