*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}



.contenedor{
    width:80%;
    min-height:50vh;
    background:lightblue;
    margin:2em auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}
.item{
    width: 10em;
    background:orange;
}