* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedora {
  width: 90%;
  min-height: 80vh;
  background: lightblue;
  margin: 2em auto;
  content-visibility: auto;
}