* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedor {
  width: 80%;
  min-height: 50vh;
  background: lightblue;
  margin: 2em auto;
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
}

.item {
  background: orange;
}