*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
// Estilos para los elementos (no es esencial)

body{
    font-family:  Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.contenedor{
    width:90%;
    margin: 2em auto;
    border-radius: 1em;
    border:5px solid lightgrey;
    padding:1em;
    padding:1em;
}
.item , .subitem{
    border-radius: 1em;
    border:5px solid #282828;
    padding:1em;
}




// Estilos de la carácterística de State of CSS

.contenedor{
    width:80%;
    min-height:50vh;
    
    margin:2em auto;

    position:sticky;
    top: 0;
}
.item{
    margin: 1em 0;
}